# Configuration file for the image classification application
base:

  #Hyperparameters
  batch_size:
    value: 16
    type: "int"
    range: [1, 64]
    help: >
          Batchsize to use during training. If your model has a large number of classes (>1000) you might need to decrease
          your batchsize so that the model still fits in the GPU.
  image_size: 
    value: 512
    type: "int"
    range: [512, 512]
    help: "" 
  epochs: 
    value: 3
    type: "int"
    range: [0, None]
    help: >
          Number of epochs to use for training.
  learning_rate: 
    value: 0.001
    type: "float"
    help: "Initial learning rate."


  #Scheduler parameters
  early_stopping_patience: 
    value: 30
    type: "int"
    help: ""
  

  reduce_lr_factor: 
    value: 0.4
    type: "float"
    help: ""
  reduce_lr_patience: 
    value: 8
    type: "int"
    help: ""

  #Tensorboard and MLflow
  experiment: 
    value: ai4eosc
    type: "str"
    help: ""

  mlflow: 
    value: False
    type: "bool"
    help: ""
  mlflow_params:
    value: "Test"
    type: "str"
    help: ""
  seed: 
    value: 0
    type: "int"
    help: ""
  shuffle: 
    value: False
    type: "bool"
    help: ""
  tensorboard: 
    value: True
    type: "bool"
    help: ""

  #Datapath
  experiment_name: 
    value: "test"
    type: "str"
    help: ""
  healthy_data_path: 
    value: "/home/integrated-plant-protection/data/images/dataset1/healthy/images"
    type: "str"
    help: ""
  sick_data_path: 
    value: "/home/integrated-plant-protection/data/images/dataset1/sick/images"
    type: "str"
    help: ""

  use_preprocess_model:
    value: "rye-1.pth"
    type: "str"
    help: >
          Model of image preprocessing.


general:

  base_directory:
    value: "."
    type: "str"
    help: >
          Base directory for data and models. All the data that will be read and written will be done within this
          directory.
          If path is relative it will be appended to the package path.

  

#####################################################
#  Options to customize the model
#####################################################

constants:
  num_workers: 
    value: 0
    type: "int"
    help: ""

  
  channels: 
    value: [32, 64, 128, 256]
    type: "list"
    help: ""

  images_directory:
    value: "data/images"
    type: "str"
    help: >
          Base directory for images. If the path is relative, it will be appended to the package path.



#####################################################
#  Options to test your model
#####################################################

testing:

  timestamp:
    value:
    type: "str"
    help: >
      Model timestamp to use for prediction.

  ckpt_name:
    value: "model_0013.pt"
    type: "str"
    help: >
      Checkpoint inside the timestamp to use for prediction.

